
# Arquivos/Pastas do sistema
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3

# Ambientes virtuais
venv/
env/
ENV/
.venv/
.ENV/

# Arquivos do VSCode ou outros editores/IDE
.vscode/
.idea/
*.swp

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de migração (opcional se quiser manter versionados)
# ** Use com cuidado **
# */migrations/*.py
# !*/migrations/__init__.py

# Arquivos/diretórios sensíveis ou privados
.env
*.env
