
# Arquivos/Pastas do sistema
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3

# Ambientes virtuais
.venv/

# Arquivos do VSCode ou outros editores/IDE
.vscode/
.idea/
*.swp

# Arquivos de sistema operacional
.DS_Store
Thumbs.db


# Arquivos/diretórios sensíveis ou privados
.env
*.env
